---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PreFooter from '../components/PreFooter.astro';
import Bento from '../components/Bento.astro';
import Intro from '../components/Intro.astro';
import Video from '../components/Video.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
	title="SaraQuintana - Desarrollo de imagen de marca, dieño web y marketing"
	description="Descubre como renobar tu imagen de marca, diseño web y marketing con SaraQuintana"
>
	<Header />
	<Video />

	<main>
		<Intro />
		<Bento />
		<PreFooter />

	</main>

	<Footer />
</Layout>

<style></style>
