---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PreFooter from '../components/PreFooter.astro';
import Bento from '../components/Bento.astro';
import Intro from '../components/Intro.astro';
import Video from '../components/Video.astro';
import Empresas from '../components/Empresas.astro';

import Contacto from '../components/Contacto.astro';
import Layout from '../layouts/Layout.astro';


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<title>SaraQuintana Diseño Gráfico</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	content="Diseño gráfico y Editorial para acelerar el crecimiento de tus proyectos tanto en internet como físicos">
<meta property="og:title" content="Sara Quintana Diseños para maquetación, webs, cartelería y redes sociales">
<meta property="og:description"
	content="Empresa que trabaja en el sector del diseño gráfico y la programación de páginas web para dar vida a tu marca">
<meta property="og:image" content="images/portada1.png">
<meta property="og:url" content="https://saraquintana.es">
<meta property="og:type" content="website">
<meta property="og:locale" content="es_ES">
<meta property="og:site_name" content="Sara Quintana Diseño gráfico y branding">
<meta property="og:image:alt" content="Estás a un click de cambiar tu futuro">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<Layout
	title="SaraQuintana - Desarrollo de imagen de marca, dieño web y marketing"
	description="Descubre como renobar tu imagen de marca, diseño web y marketing con SaraQuintana"
>
	<Header />
	<Video />

	<main>
		<Intro />
		<Bento />
		<PreFooter />
	</main>
	<Contacto />
	<Empresas />
	<Footer />
</Layout>

<style></style>
