---
import BentoItem from '../components/BentoItem.astro';
---

<section
    class="{'w-full max-w-[1400px]
    grid grid-cols-10 auto-rows-[35rem] gap-4
    mx-auto p-20
    '}"
    >
    <BentoItem 
        class="col-span-10 md:col-span-4" 
        title="SaraQuintana: La clave para diferenciarte">

        <div
            slot="image"
            class="absolute left-0 top-0 bottom-0  w-full h-full
                group-hover:scale-110 transition-scale duration-1000 bg-blend-luminosity
                ease-in-out opacity-90 bg-center bg-cover bg-no-repeat bg-blue-950 -z-10"
            style="background-image: url('/revista.png')">
        </div>
            
         
        <p slot="content" class="max-w-xl">
            Un proyecto que empez칩 en <strong>2023</strong> 
            ya es parte de muchas entidades que han confiado 
            en nosotros para dar <strong>vida a sus proyectos</strong>",
        </p>
    </BentoItem>

    <BentoItem 
        class="col-span-10 md:col-span-6" 
        title="Nueva era de la comunicaci칩n" 
        subtitle="Dise침o web">

        <div
            slot="image"
            class="absolute left-0 top-0 bottom-0  w-full h-full
            group-hover:scale-110 transition-scale duration-1000 bg-blend-luminosity
            ease-in-out opacity-90 bg-center bg-cover bg-no-repeat bg-blue-950 -z-10"
             style="background-image: url('/ordenador.png')">
        </div>

    </BentoItem>

    <BentoItem 
        class="col-span-10 md:col-span-10" 
        title="Profesionales especializados" 
        subtitle="Este a침o, es el momento de dar ese cambio que llevan tiempo pidiendote">

        <div
            slot="image"
             class="absolute left-0 top-0 bottom-0  w-full h-full
              group-hover:scale-110 transition-scale duration-1000 bg-blend-luminosity
              ease-in-out opacity-90 bg-center bg-cover bg-no-repeat bg-blue-950 -z-10"
              style="background-image: url('/banner.png')">
         </div>

    </BentoItem>

</section>