---
import BentoItem from '../components/BentoItem.astro';
---

<section
    class="{'w-full max-w-[1400px]
    grid grid-cols-10 auto-rows-[35rem] gap-4
    mx-auto p-20
    '}"
    >
    <BentoItem class="col-span-10 md:col-span-4" title="SaraQuintana: La clave para diferenciarte"/>
    <BentoItem class="col-span-10 md:col-span-6" title="Nueva era de la comunicaci칩n" subtitle="Dise침o web"/>
    <BentoItem class="col-span-10 md:col-span-6" title="Profesionales especializados" subtitle="Este a침o, es el momento de dar ese cambio que llevan tiempo pidiendote"/>
    <BentoItem class="col-span-10 md:col-span-4" title="Este a침o, es el momento de dar ese cambio que llevan tiempo pidiendote"/>
</section>