<section class="text-xl px-8 text-pretty mx-auto my-24">
    <!-- Título en blanco -->
    <h1 class="text-4xl font-bold text-center text-white mb-9">
        
    </h1>

    <!-- Contenedor de logos -->
    <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8 gap-4 items-center justify-center w-full">
        <img class="w-32 h-32 text-white" src="/1.svg" alt="logo de SQ" />
        <img class="w-32 h-32 text-white" src="/2.svg" alt="logo de SQ" />
        <img class="w-32 h-32 text-white" src="/3.svg" alt="logo de SQ" />
        <img class="w-32 h-32 text-white" src="/4.svg" alt="logo de SQ" />
        <img class="w-32 h-32 text-white" src="/5.svg" alt="logo de SQ" />
        <img class="w-32 h-32 text-white" src="/6.svg" alt="logo de SQ" />
        <img class="w-32 h-32 text-white" src="/7.svg" alt="logo de SQ" />
        <img class="w-32 h-32 text-white" src="/logo.svg" alt="logo de SQ" />
    </div>
</section>




