<section class="text-xl text-left px-20 max-w-[60ch] text-pretty mx-auto my-24">
    <img class="w-16 mb-10 m-auto" src="/logo.svg" alt="logo de SQ" class="invert"/>
    <h1 class="text-5xl font-semibold text-center text wrap mx-auto mb-10 tracking-wide">
        Bienvenidos/as <br /> a SaraQuintana Diseño gráfico
    </h1>
    <p>
        En un mundo digital en constante evolución, estos campos se destacan como el 
        <strong> arte y la técnica que dan vida</strong> a las ideas. Los diseñadores 
        gráficos transforman conceptos en imágenes que <strong>comunican, inspiran y emocionan,
            </strong> mientras que los desarrolladores web construyen los escenarios interactivos 
            donde estas <strong>creaciones cobran vida.</strong>
    </p>
    <p>
        En SaraQuintana Diseño Gráfico, <strong>creamos experiencias visuales y digitales</strong> 
        que conectan con tu audiencia y reflejan la esencia de tu marca. Nuestro equipo de 
        profesionales se especializa en el diseño de identidad corporativa, desarrollo web y 
        marketing digital, ofreciendo soluciones creativas y efectivas que te ayudarán a 
        <strong>destacar en un mercado competitivo.</strong>
    </p>

</section>